<div class="block social-tiles" id="social-tiles-container">
    <?php echo $this->getChildHtml('social.tiles') ?>
</div>
<script type="text/javascript">
(function($) {
    var $container = $('#social-tiles-container');

    var initPager = function(link) {
        var url = $(link).attr('href');
        var $showMoreTile = $('.show-more-tile', $container);
        var showMoreTop = $showMoreTile.offset().top;

        $.ajax({
            url: url,
            dataType: 'html',
            beforeSend: function(jqXHR, settings) {
                $('.tile-overlay-text', $showMoreTile).html('Loading...');
                $('.tile-overlay', $showMoreTile).css('background', '#aaa');
            },
            success: function(data) {
                $showMoreTile.remove();
                $newEls = $(data);
                $container.append($newEls);

                setTimeout(function() {
                    $('html, body').animate({
                        scrollTop: showMoreTop
                    }, 1000);
                }, 1000);

                $('.show-more-tile a', $container).click(function() {
                    initPager(this);
                    return false;
                });
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            },
            complete: function(jqXHR, textStatus) {
                $('.tile-overlay-text', $showMoreTile).html('Show More');
                $('.tile-overlay', $showMoreTile).css('background', '');
            }
        });
    };

    $('.show-more-tile a', $container).click(function() {
        initPager(this);
        return false;
    });
})(jQuery);
</script>