<?php echo $this->getChildHtml(); ?>
<?php if (($showMoreLink = $this->getShowMoreLink())) : ?>
<div class="tile show-more-tile" data-timestamp="1">
    <a href="<?php echo $showMoreLink ?>" title="Show More">
        <div class="tile-content no-img">
            <div class="tile-overlay">
                <div class="tile-overlay-text"> 
                    Show More
                </div>
            </div>
        </div>
    </a>
</div>
<?php endif ?>