<?php $posts = $this->getPostsByUser(); ?>
<?php if (is_array($posts) && count($posts) > 0) : ?>
<?php foreach ($posts as $post) : ?>
<div class="tile tile-instagram" data-timestamp="<?php echo $post['created_time'] ?>">
    <a rel="social" href="<?php echo $post['images']['standard_resolution']['url']; ?>" title="<?php echo htmlentities($post['caption']['text']) ?>">
        <div class="tile-content" style="background-image:url(<?php echo $post['images']['standard_resolution']['url']; ?>)"></div>
    </a>
</div>
<?php endforeach ?>
<script type="text/javascript">
(function($) {
    $('.tile-instagram > a').fancybox({
        padding: 4,
        helpers : {
            title: {
                type: 'inside'
            }
        }
    });
})(jQuery);
</script>
<?php endif ?>
