<?php $tweets = $this->getTweets(); ?>
<?php if (is_array($tweets)) : ?>
    <?php foreach ($tweets as $k => $tweet) : ?>
        <?php 
            $timestamp = strtotime($tweet->created_at);
            $content = $tweet->text;

            foreach ($tweet->entities->urls as $urlInfo) {
                $content = preg_replace(
                    '/' . preg_quote($urlInfo->url, '/') . '/i', 
                    '<url>' . $urlInfo->url . '</url>', $content);
            }
        ?>
<div class="tile tile-twitter" data-timestamp="<?php echo $timestamp ?>" id="tweet-<?php echo $tweet->id ?>">
    <a href="https://twitter.com/<?php echo $this->getUsername() ?>/status/<?php echo $tweet->id ?>" title="<?php echo htmlentities($tweet->text) ?>" target="_blank" data-tweet-id="<?php echo $tweet->id ?>" rel="social">
        <div class="tile-content">
            <div class="tweet-content"><?php echo $content ?></div>
        </div>
    </a>
</div>
    <?php endforeach ?>
<script type="text/javascript">
(function($) {
    $('.tile-twitter > a').fancybox({
        href: '#',
        padding: 10,
        width: 350,
        height: 350,
        helpers : {
            title: null
        },
        beforeLoad: function() {
            var el = $(this.element);
            var content = el.html();
            content = content.replace(/<url>([^<]+)<\/url>/ig, '<a href="$1" target="_blank">$1</a>');
            this.content = content;
        }
    });
})(jQuery);
</script>
<?php endif ?>