<?php $videos = $this->getVideos(); ?>
<?php if (is_array($videos) && count($videos) > 0) : ?>
<?php foreach ($videos as $video) : ?>
<div class="tile tile-vimeo" data-timestamp="<?php echo strtotime($video['upload_date']) ?>">
    <a class="vimeo" data-fancybox-type="iframe" href="http://player.vimeo.com/video/<?php echo $video['id']; ?>?autoplay=1" title="<?php echo htmlentities($video['title']) ?>" data-description="<?php echo htmlentities($video['description']) ?>">
        <div class="tile-content" style="background-image:url(<?php echo $video['thumbnail_medium']; ?>)">
            <div class="video-thumbnail-play-btn"></div>
        </div>
    </a>
</div>
<?php endforeach ?>
<script type="text/javascript">
(function($) {
    $('.tile-vimeo a.vimeo').fancybox({
        type: 'iframe',
        width: '90%',
        height: '90%',
        helpers : {
            title: {
                type: 'inside'
            }
        }
    });
})(jQuery);
</script>
<?php endif ?>
