<?php $feed = $this->getFeed(); ?>
<?php if ($this->getNumResults() > 0) : ?>
<?php foreach ($feed as $post) : ?>
    <?php $timestamp = strtotime($post['created_time']); ?>
<div class="tile tile-facebook" data-category="social facebook" data-timestamp="<?php echo $timestamp ?>" id="post-<?php echo $post['id'] ?>">
    <a href="<?php echo @$post['link'] ?>" title="<?php echo htmlentities($post['message']) ?>" target="_blank" data-post-id="<?php echo $post['id'] ?>" rel="ig_gallery">
        <div class="tile-content tile-content-container">
            <div class="post-content">
                <?php if (0 && isset($post['picture'])) :?>
                <img src="<?php echo $post['picture'] ?>" />
                <?php endif ?>
                <?php echo $post['message'] ?>
            </div>
        </div>
    </a>
</div>
<?php endforeach ?>
<script type="text/javascript">
(function($) {
    $('.tile-facebook a').fancybox({
        href: '#',
        padding: 10,
        width: 350,
        height: 350,
        helpers : {
            title: null
        },
        beforeLoad: function() {
            var el = $(this.element);
            var content = el.html();
            content = content.replace(/<url>([^<]+)<\/url>/ig, '<a href="$1" target="_blank">$1</a>');
            this.content = content;
        }
    });
})(jQuery);
</script>
<?php endif ?>

<?php /*
Array
        (
            [id] => 201000650620_10152914594910621
            [from] => Array
                (
                    [id] => 201000650620
                    [category] => Clothing
                    [name] => Ethika
                )

            [message] => Photos from Street League are up now!  www.ethika.com/blog
            [picture] => https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-frc1/1006170_10152914594830621_490726325_s.jpg
            [link] => http://www.facebook.com/photo.php?fbid=10152914594830621&set=a.207021685620.276391.201000650620&type=1&relevant_count=1
            [icon] => https://fbstatic-a.akamaihd.net/rsrc.php/v2/yz/r/StEh3RhPvjk.gif
            [actions] => Array
                (
                    [0] => Array
                        (
                            [name] => Comment
                            [link] => http://www.facebook.com/201000650620/posts/10152914594910621
                        )

                    [1] => Array
                        (
                            [name] => Like
                            [link] => http://www.facebook.com/201000650620/posts/10152914594910621
                        )

                )

            [privacy] => Array
                (
                    [description] => Public
                    [value] => EVERYONE
                    [friends] => 
                    [networks] => 
                    [allow] => 
                    [deny] => 
                )

            [type] => photo
            [status_type] => added_photos
            [object_id] => 10152914594830621
            [created_time] => 2013-06-12T21:16:29+0000
            [updated_time] => 2013-06-12T21:36:12+0000
            [likes] => Array
                (
                    [data] => Array
                        (
                            [0] => Array
                                (
                                    [name] => Luis Enrique Sanchez Guerra
                                    [id] => 100000177647440
                                )

                            [1] => Array
                                (
                                    [name] => Mauu Tellez E
                                    [id] => 100001300494568
                                )

                            [2] => Array
                                (
                                    [name] => Brandon Ramirez Silva
                                    [id] => 100000514304313
                                )

                            [3] => Array
                                (
                                    [name] => Jessica Quinones
                                    [id] => 100001787965068
                                )

                        )

                    [count] => 30
                )

            [comments] => Array
                (
                    [data] => Array
                        (
                            [0] => Array
                                (
                                    [id] => 10152914594830621_20130143
                                    [from] => Array
                                        (
                                            [id] => 369167219781832
                                            [category] => Producer
                                            [name] => Sweatpants Media
                                        )

                                    [message] => Great pictures!
                                    [can_remove] => 1
                                    [created_time] => 2013-06-12T21:36:12+0000
                                    [like_count] => 1
                                    [user_likes] => 1
                                )

                        )

                    [paging] => Array
                        (
                            [cursors] => Array
                                (
                                    [after] => MQ==
                                    [before] => MQ==
                                )

                        )

                )

        )


"paging": {
      "previous": "https://graph.facebook.com/201000650620/feed?access_token=CAAHeIBUWPGgBAEGNbJPjGzV1hA798ud3I7uZANbdiZBLTVCLUnfRWTBsQQfyGTuVy65m3FLEe6zQlyYECmPFVHPN2R9GgxWUrJ1NntZAN5KYCIUqyc3X3sZAZAEluHaJ5XQo3K1smETZCjTdZAf48cvrI5uRBZCHQ0cZD&limit=25&since=1371071789&__previous=1",
      "next": "https://graph.facebook.com/201000650620/feed?access_token=CAAHeIBUWPGgBAEGNbJPjGzV1hA798ud3I7uZANbdiZBLTVCLUnfRWTBsQQfyGTuVy65m3FLEe6zQlyYECmPFVHPN2R9GgxWUrJ1NntZAN5KYCIUqyc3X3sZAZAEluHaJ5XQo3K1smETZCjTdZAf48cvrI5uRBZCHQ0cZD&limit=25&until=1368565230"
   }

   */